.registration {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4C4C49;
    width: 100%;
    height: 232rem;
    border-radius: 60px;
    margin-top: 179rem;
    margin-left: 254rem;
    position: relative;
    z-index: 0;
}

.registration-text {
    font-family: "Anomalia ML v2 AAA Bold";
    font-size: 70rem;
    font-weight: 700;
    color: #FFFFFF;
    margin: 0;
}

.registration-image {
    background-image: url('../../../assets/images/FIGMA.png');
    background-repeat: no-repeat;
    width: 47%;
    height: 65%;
}


@font-face {
    font-family: "Anomalia ML v2 AAA Bold";
    src: url("https://db.onlinewebfonts.com/t/2ecc29f5f909de1152b76b935fa51c0f.eot");
    src: url("https://db.onlinewebfonts.com/t/2ecc29f5f909de1152b76b935fa51c0f.eot?#iefix") format("embedded-opentype"),
        url("https://db.onlinewebfonts.com/t/2ecc29f5f909de1152b76b935fa51c0f.woff2") format("woff2"),
        url("https://db.onlinewebfonts.com/t/2ecc29f5f909de1152b76b935fa51c0f.woff") format("woff"),
        url("https://db.onlinewebfonts.com/t/2ecc29f5f909de1152b76b935fa51c0f.ttf") format("truetype"),
        url("https://db.onlinewebfonts.com/t/2ecc29f5f909de1152b76b935fa51c0f.svg#Anomalia ML v2 AAA Bold") format("svg");
}

.form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    left: 0;
    width: 100%;
}

.form-input,
.custom-select {
    width: 100%;
    height: 37rem;
    border-radius: 31px;
    background-color: #ECECEC;
    font-family: 'PloniMLv2AAA-Regular', sans-serif;
    font-size: 22rem;
    font-weight: 400;
    padding-right: 30rem;
    text-align: right;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
}

.form-input::placeholder {
    color: black;
}

.sumbit {
    display: flex;
    align-items: center;
    margin-top: 10rem;
    justify-content: right;
}

.sumbit-text,
.button-text {
    width: 181.33rem;
    height: 37.68rem;
    border-radius: 30px;
    background-color: #D91C5C;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    font-family: 'PloniMLv2AAA-Regular', sans-serif;
    font-size: 22rem;
    margin-right: 10rem;
}
.sumbit-button,
.button-ref {
    width: 36.55rem;
    height: 36.55rem;
    border-radius: 30px;
    border: 2px solid black;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-image: url('../../../assets/images/Arrow1Black.png');
    background-repeat: no-repeat;
    background-position: right 10px center;
}
.custom-select,
.button,
.sumbit-buttom {
    display: inline-block;
}

.select {
    display: flex;
}

.wrap-from {
    display: flex;
    justify-content: left;
    align-items: center;
}