<div class="container">
    <div class="row">
      <div class="registration col-10">
        <p class="registration-text ">להרשמה</p>
      </div>
      <div class="registration-image col-2"></div>
    </div>
  
    <div class="row">
      <div class="selects col-md-6 col-12">
        <div class="select">
          <select class="custom-select col-6">
            <option selected>סוג האימון</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
            <div class="button-text col-4">סוגי אימונים</div>
            <div class="button-ref"><nav><a href="../comp/">אאאאא</a></nav></div>
        </div>
        <div class="select">
          <select class="custom-select col-6">
            <option selected>מנוי</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
          <!-- <div class="button"> -->
            <div class="button-text col-4">מנויים</div>
            <div class="button-ref"><nav><a href="../comp/">אאאאא</a></nav></div>
          <!-- </div> -->
        </div>
        <div class="select">
          <select class="custom-select col-6">
            <option selected>אפשרויות תשלום</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
          <!-- <div class="button"> -->
            <div class="button-text col-4">מנויים</div>
            <div class="button-ref"><nav><a href="../comp/">אאאאא</a></nav></div>
          <!-- </div> -->
        </div>
        <div class="select">
          <select class="custom-select col-6">
            <option selected>קופ"ח</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
          <!-- <div class="button"> -->
            <div class="button-text col-4">נספח לקופ"ח</div>
            <div class="button-ref"><nav><a href="../comp/">אאאאא</a></nav></div>
          <!-- </div> -->
        </div>
      </div>
      <div class="wrap-from col-md-6 col-12">
        <form name="form" class="form">
          <input class="form-input col-12" type="text" name="fullName" placeholder="שם מלא">
          <input class="form-input col-12" type="text" name="address" placeholder="כתובת">
          <input class="form-input col-12" type="tel" name="phone" placeholder="טלפון">
          <input class="form-input col-12" type="email" name="mail" placeholder="מייל">
          <div class="sumbit">
            <div class="sumbit-text">שלח</div>
            <button class="sumbit-button">חץ</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- GPT -->
  
  
  
  
  <!-- <div class="container">
    <div class="top mb-4">
      <div class="registration">
        <p class="registration-text">להרשמה</p>
      </div>
      <img src="../../assets/FIGMA.png" alt="image-Vi" class="img-fluid">
    </div>
  
    <div class="row">
      <div class="col-md-6">
        <form name="form" class="form">
          <input class="form-control form-input" type="text" name="fullName" placeholder="שם מלא">
          <input class="form-control form-input" type="text" name="address" placeholder="כתובת">
          <input class="form-control form-input" type="tel" name="phone" placeholder="טלפון">
          <input class="form-control form-input" type="email" name="mail" placeholder="מייל">
          <div class="sumbit">
            <div class="sumbit-text">שלח</div>
            <button class="btn sumbit-button">חץ</button>
          </div>
        </form>
      </div>
      <div class="col-md-6">
        <form name="form2" class="form">
          <input class="form-c  ontrol form-input" type="text" name="fullName" placeholder="שם מלא">
          <input class="form-control form-input" type="text" name="address" placeholder="כתובת">
          <input class="form-control form-input" type="tel" name="phone" placeholder="טלפון">
          <input class="form-control form-input" type="email" name="mail" placeholder="מייל">
          <div class="sumbit">
            <div class="sumbit-text">שלח</div>
            <button class="btn sumbit-button">חץ</button>
          </div>
        </form>
      </div>
    </div>
  </div> -->
  
  
  
  <!-- <div class="container">
    <div class="top mb-6 row">
      <div class="registration">
        <p class="registration-text">להרשמה</p>
      </div>
      <div class="img-fluid registration-image">
      </div>
    </div>
  
    <div class="row">
      <div class="selects">
        <div class="col-md-6">
          <select class="custom-select custom-select-sm">
            <option selected>סוגי אימון</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
        <div class="col-md-6">
          <select class="custom-select custom-select-sm">
            <option selected>מנוי</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
        <div class="col-md-6">
          <select class="custom-select custom-select-sm">
            <option selected>אפשרויות תשלום</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
        <div class="col-md-6">
          <select class="custom-select custom-select-sm">
            <option selected>קופ"ח</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
      </div>
      
      <div class="col-md-6">
        <form name="form" class="form">
          <input class="form-control form-input" type="text" name="fullName" placeholder="שם מלא">
          <input class="form-control form-input" type="text" name="address" placeholder="כתובת">
          <input class="form-control form-input" type="tel" name="phone" placeholder="טלפון">
          <input class="form-control form-input" type="email" name="mail" placeholder="מייל">
          <div class="sumbit">
            <div class="sumbit-text">שלח</div>
            <button class="sumbit-button"><div class="image-arrow"></div></button>
          </div>
        </form>
      </div>
  
    </div>
  </div> -->