<div class="nav-bar">
    <nav >
        <a routerLink="/home" routerLinkActive="active">בית</a>
        <a routerLink="/?????" routerLinkActive="active">אודות</a>
        <a routerLink="/?????" routerLinkActive="active">סוגי אימונים</a>
        <a routerLink="/?????" routerLinkActive="active">לקוחות מספרים</a>
        <a routerLink="/?????" routerLinkActive="active">מערכת קורסים</a>
        <a routerLink="/?????" routerLinkActive="active">מסלולי מנויים</a>
        <a routerLink="/price list" routerLinkActive="active">מחירון</a>
        <a routerLink="/?????" routerLinkActive="active">צור קשר</a>
       
    </nav>
    
</div>